 {% extends 'base.html' %}

{% block content %}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="/register" method='post' class="decor">
<div class="form-left-decoration"></div>
<div class="form-right-decoration"></div>
<div class="circle"></div>
<div class="form-inner">
<p><label>Name: </label> <input type="text" name="name" value="" required />
<p><label>Email: </label> <input type="text" name="email" value="" required />
<p><label>Password: </label> <input type="password" name="psw" value="" required />
<p><label>Password confirmation: </label> <input type="password" name="psw2" value="" required />
<p><input type="submit" value="Sign up" />
</form>
{% endblock %}
